.NavBarContainer {
	width: 100%;
	height: fit-content;
	position: sticky;
	top: 0px;
	.NavBar {
		height: fit-content;
		background-color: transparent;
		width: 100%;
		border: none;
		box-shadow: none;
		color: black;
		a {
			color: black;
		}
		.LogoModeToggle {
			display: flex;
			flex-direction: row;
			width: fit-content;
		}
		li:last-of-type {
			display: flex;
			flex-direction: row;
			width: fit-content;
			padding-left: 2em;
			span {
				margin-left: 1em;
				margin-right: 1em;
			}

			.switch {
				display: flex;
				flex-direction: row;
				width: fit-content;
				label {
					display: flex;
					flex-direction: row;
					width: fit-content;
					align-items: center;
					i {
						font-size: small;
					}
				}
			}
			.switch label input[type='checkbox']:checked + .lever {
				background-color: whitesmoke;
			}
			.switch label input[type='checkbox']:checked + .lever:after {
				background-color: whitesmoke;
			}
		}
	}
}
